<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ClickExpress</title>
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ClickExpress">
    <meta name="author"      content="Ranjit Jhala">

    <!--Stylesheets-->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/bootstrap-readable.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--Libs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/vendor/marked/marked.min.js"></script>
    <script src="/vendor/dropdown/bsDropdown.min.js"></script>

  </head>

    <body data-spy="scroll" data-target=".bs-docs-sidebar" ng-app="click">

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/home">Click Express</a>
            <!-- Course -->
            {{#if course}}
            <!--<li><h5 class="navbar-text">{{course}}</h5></li>-->
            <li><a href="/course/{{course}}"><b>{{course}}</b></a></li>
            
            {{/if}}
            <!-- User -->
            {{#if user}}
              <li class="active pull-right"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
              <li class="social pull-right"><a href="/user/{{ user.username }}">{{ user.username }}</a></li>
            {{else}}
              <li class="active pull-right"><a href="/login">Login <span class="sr-only">(current)</span></a></li>
              <li class="pull-right"><a href="/register">Register <span class="sr-only">(current)</span></a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Actual Body ================================================== -->

    <div class="container">
        <div class="row-fluid">
        {{{body}}}
        </div>
    </div>

  </body>

  <!-- Passing user name here -->
  <script type="text/javascript">
  {{#if user}}
  var username = "{{ user.username }}";
  {{/if}}
  </script>

  <script src="/app/bundle.js"></script>

</html>
