<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ClickExpress</title>
        <meta name="viewport"    content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ClickExpress">
        <meta name="author"      content="Ranjit Jhala">

        <!--Stylesheets-->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/bower_components/bootswatch/flatly/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">

        <link rel="stylesheet" href="/stylesheets/style.css">

        <!--Libs-->
        <script src="/bower_components/underscore/underscore-min.js"></script>
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/socket.io-client/socket.io.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        
        
        <script src="/bower_components/angular-material/angular-material.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.js"></script>
        <script src="/bower_components/angular-messages/angular-messages.js"></script>


        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/bower_components/marked/marked.min.js"></script>

    </head>

    {{#if user}}
    <body data-spy="scroll" data-target=".bs-docs-sidebar" ng-app="click">
    {{else}}
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
    {{/if}}


    <!-- Navbar -->

    {{#if user}}

    <nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="navbarCtrl">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <a class="navbar-brand">
                        <span ng-click="goHome()">Click Express</span>
                    </a>
                    <li><a><b ng-bind="getCourse()" ng-click="courseHome()"></b></a></li>
                    <!-- User panel -->
                    <li class="active pull-right"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
                    <li class="social pull-right"><a href="/user/{{ user.username }}">{{ user.username }}</a></li>
                </ul>
            </div>
        </div>
    </nav>

   {{else}}

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <a class="navbar-brand" href="/home">Click Express</a>
                </ul>
            </div>
        </div>
    </nav>
    {{/if}}


    <!-- Actual Body ================================================== -->

    {{#if user}}
        <div class="container">
            <div class="row-fluid">
                <div ng-view></div>
            </div>
        </div>
    {{else}}
        <div class="container">
            <div class="row-fluid">
                {{{body}}}
            </div>
        </div>
    {{/if}}

    </body>

    <!-- Passing user name here -->
    {{#if user}}
        <script type="text/javascript">var username = "{{ user.username }}";</script>
        <script src="/app/clicker-{{role}}.js"></script>
    {{/if}}

</html>
