<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ClickExpress</title>
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ClickExpress">
    <meta name="author"      content="Ranjit Jhala">

    <!--Stylesheets-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/bower_components/bootswatch/readable/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--Libs-->
    <script src="/bower_components/underscore/underscore-min.js"></script>    
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/socket.io-client/socket.io.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/marked/marked.min.js"></script>
    
  </head>

    <body data-spy="scroll" data-target=".bs-docs-sidebar" ng-app="click">

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/home">Click Express</a>
            <!-- Course -->
            {{#if course}}
            <!--<li><h5 class="navbar-text">{{course}}</h5></li>-->
            <li><a href="/course/{{course}}"><b>{{course}}</b></a></li>
            
            {{/if}}
            <!-- User -->
            {{#if user}}
              <li class="active pull-right"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
              <li class="social pull-right"><a href="/user/{{ user.username }}">{{ user.username }}</a></li>
            {{else}}
              <li class="active pull-right"><a href="/login">Login <span class="sr-only">(current)</span></a></li>
              <li class="pull-right"><a href="/register">Register <span class="sr-only">(current)</span></a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Actual Body ================================================== -->

    <!--
      <div class="container">
        <div class="row-fluid">
        {{{body}}}
        </div>
      </div>    
    -->
    <div class="container">
        <div class="row-fluid">
          <div ng-view></div>
        </div>
    </div>
    

  </body>

  <!-- Passing user name here -->
  <script type="text/javascript">
  {{#if user}}
  var username = "{{ user.username }}";
  {{/if}}
  </script>

  <script src="/app/clicker-{{role}}.js"></script>

</html>
