<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ClickExpress</title>
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ClickExpress">
    <meta name="author"      content="Ranjit Jhala">

    <!--Stylesheets-->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/bootstrap-readable.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--Libs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/vendor/marked/marked.min.js"></script>
    <script src="/vendor/dropdown/bsDropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js"></script>


  </head>

    <body data-spy="scroll" data-target=".bs-docs-sidebar" ng-app="click">

    <!-- Navbar ================================================== -->
    <nav class="navbar navbar-default navbar-static-top" ng-controller="navCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Click Express</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            {{#if isInstructor }}
            <li class="active"><a href="/create">Create a Quiz</a></li>
            {{/if}}
            {{#if courseList}}
                <li class="dropdown" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select a course<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-repeat='course in {{{ courseList }}}' ng-click="onSelectCourse(course)">\{{ course }}</a></li>
                    </ul>
                </li>
            {{/if}}
            <li ng-show="CommonData.courseName" ng-cloak><a><b>\{{ CommonData.courseName }}</b></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if user}}
                <li><a ng-model="CommonData.userName"><b>{{ user.username }}</b></a></li>
                <li class="active"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
            {{else}}
                <p class="navbar-text">
                    <li><a href="/register">Register</a></li>
                    <li class="active"><a href="./login">Login <span class="sr-only">(current)</span></a></li>
                </p>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Header ================================================== -->

    <!-- <header><img src="/img/logo.png" alt="ClickExpress"></header> -->
    <!--<div class="jumbotron">
      <div class="container">
        <h1>Click Express</h1>
      </div>
    </div>-->

    <!-- Actual Body ================================================== -->

    <div class="container">
        <div class="row-fluid">
        {{{body}}}
        </div>
    </div>

  </body>

  <!-- <script>var serverURL = "http://localhost:3000";</script> -->

  <!-- Passing user name here -->
  <script type="text/javascript">
  {{#if user}}
    var userName = "{{ user.username }}";
  {{/if}}
  </script>

  <script src="/app/clicker.app.js"></script>
  <script src="/app/components/navigation.js"></script>
  {{#if user}}
    <script src="/app/components/instructor.js"></script>
    <script src="/app/components/student.js"></script>
    <script src="/app/components/history.js"></script>
    <script src="/app/components/create.js"></script>
  {{/if}}

</html>
