<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ClickExpress</title>
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ClickExpress">
    <meta name="author"      content="Ranjit Jhala">
    
    <!--Stylesheets-->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">        
    <link rel="stylesheet" href="/stylesheets/bootstrap-readable.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--Libs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>    
    <script src="/vendor/marked/marked.min.js"></script>
    <script src="/vendor/dropdown/bsDropdown.min.js"></script>

  </head>
  
    <body data-spy="scroll" data-target=".bs-docs-sidebar" ng-app="click">


    <!-- Navbar ================================================== -->
    <!--
    <div class="container">
        <nav class="navbar navbar-static-top">
            <div class="container-fluid">                
                <div class="navbar-header pull-right">
                <button type="button" class="navbar-toggle" 
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{#if user}}
                    <p class="navbar-text">
                        <b> {{user.username}} </b>
                        <a href="/logout" class="navbar-link">Logout</a>&nbsp;
                    </p>
                {{else}}
                    <p class="navbar-text">
                        <a href="/login" class="navbar-link">Login</a>&nbsp;
                        <a href="/register" class="navbar-link">Register</a>&nbsp;          
                    </p>  
                {{/if}}  
                </div>                
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/history">History</a></li>
                </ul>
                </div>
        
            </div>
        </nav>
    
    </div>
    -->
    
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Click Express</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>-->
            <!--<li class="active"><a href="./">Logout <span class="sr-only">(current)</span></a></li>-->
            {{#if user}}
                <!--<li><a href="../navbar-static-top/">Static top</a></li>-->
                <li><a><b>{{ user.username }}</b></a></li>
                <li class="active"><a href="./">Logout <span class="sr-only">(current)</span></a></li>
            {{else}}
                <p class="navbar-text">
                    <!--<a href="/login" class="navbar-link">Login</a>&nbsp;
                    <a href="/register" class="navbar-link">Register</a>&nbsp;-->
                    <li><a href="../register">Register</a></li>                
                    <li class="active"><a href="./login">Login <span class="sr-only">(current)</span></a></li>      
                </p>  
            {{/if}}  
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    

    
    <!-- Header ================================================== -->

    <!-- <header><img src="/img/logo.png" alt="ClickExpress"></header> -->
    <!--<div class="jumbotron">
      <div class="container">
        <h1>Click Express</h1>
      </div>
    </div>-->



    <!-- Actual Body ================================================== -->

    <div class="container">
        <div class="row-fluid">
        {{{body}}}
        </div>
    </div>

  </body>

  <!-- <script>var serverURL = "http://localhost:3000";</script> -->
  
  <!-- Passing user name here --> 
  <script type="text/javascript">
  {{#if user}}
    var userName = "{{ user.username }}";
  {{/if}}
  </script>
  
  <script src="/app/clicker.app.js"></script>
  <script src="/app/components/instructor/instructor.js"></script>
  <script src="/app/components/student/student.js"></script>
  <script src="/app/components/history/history.js"></script>

</html>
