
{{#if isInstructor}}
<!-- Instructor's' View -->
<h3>Select a quiz</h3>
{{#each quizRows}}
    <div class="row">
    {{#each this.quizCols}}    
        <div class="col-md-4">
            <div class="classWithPad">
            <a href="/course/{{../../course}}/quiz/{{hash}}" 
                class="btn btn-block btn-default" 
                type="button" 
                style="white-space: normal; text-align: left;">
                <b>Quiz {{id}}</b><br/><i style="color:#888;">{{text}}</i>
            </a>
            </div>
        </div>
    {{/each}}
    </div>
    <br/>                
{{/each}}    
<br/>
<div class="row">    
    <div class="col-md-4">
        <a href="/course/{{course}}/quiz/new" class="btn btn-block btn-primary" type="button">Create new Quiz</a>   
    </div>
</div>
<br/>
<!-- End instructor's view -->
{{else}}

<!-- Student View -->
        
<section ng-controller="studentClickCtrl">

    <div ng-hide="quizInProgress">
        <h3>Wait for quiz</h3>
    </div>
    
    <div ng-show="quizInProgress">
        AAAAAAAA
        <!--Render quiz-->        
        <div class="modal-body">
            <p ng-bind-html="quizHtml"></p>
            <p ng-repeat="option in options.val">
                <button class="btn btn-block btn-default" type="button"
                        style="white-space: normal; text-align: left;"
                        ng-click="$event.preventDefault(); response.rsp = $index; ok()"><b>\{{ option.ii }}.</b> \{{ option.text }}
                </button>
            </p>
        </div>
        
        <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        
    </div>
    
</section>  
{{/if}}
