

{{#if isInstructor}}
    <!-- Instructor's' View -->
    <h3>Select a quiz</h3>
    <div class="row">
    {{#each quizList}}
        <div class="col-md-4">
            <a href="/course/{{../course}}/quiz/{{this.hash}}" class="btn btn-block btn-default" type="button" style="white-space: normal; text-align: left;">
               <b>Quiz {{this.id}}</b><br/><i style="color:#888;">{{this.text}}</i>
            </a>
        </div>
        {{else}}
        <span><p>No quizzes to select from (create one ???)</p></span>
    {{/each}}    
    </div>
    <br/>
    <div class="row">    
        <div class="col-md-4">
            <a href="/course/{{course}}/quiz/new" class="btn btn-block btn-primary" type="button">Create new Quiz</a>   
        </div>
    </div>
    <br/>
    
{{else}}
    <!-- Student View -->
    <h3>Wait for quiz</h2>
{{/if}}
