<div ng-controller="instructorClickCtrl">

<div style="width: 100%;">
   <div style="float:left; width: 57%">

        <!--Select course-->    
        <!--<p><label>Select a course</label></p>
        <select class="btn btn-default" ng-model="selectedCourse" ng-change="loadCourse()" ng-disabled="quizStarted" name="aaa">
            <option class="btn btn-default" ng-repeat='course in courseList' value="\{{ course }}">\{{ course }}</option>
        </select>                -->

        <!--Select question-->
        <p><label>Select an existing question</label></p>                
        <p>
        <select class="btn btn-default" ng-model="selectedQuestion" ng-change="loadQuestion()" ng-disabled="quizStarted">
            <option class="btn btn-default" ng-repeat='option in {{{ questionPool }}}' value="\{{ option }}">\{{ option.description.substring(0,40) }} ...</option>
        </select>
        </p>            
    
        <p><label for="question">Post a Question</label></p>

        <!--Input area-->
            <!--Text description-->
            <p>
            <textarea class="form-control"
                      ng-model="textarea"
                      ng-disabled="quizStarted"
                      ng-change="onDescriptionChange()"
                      btf-markdown
                      rows="6"
                      placeholder="Enter a question">
            </textarea></p>

            <!--Choices-->
            <div class="form-group" data-ng-repeat="choice in choices">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group-btn" data-toggle="buttons">
                                <button class="btn btn-default"
                                        type="radio"
                                        ng-model="correctChoice.index"
                                        ng-click="correctChoiceSelected($index)"
                                        uib-btn-radio="charFromInt($index)">\{{ charFromInt($index) }}</button>
                            </span>
                            <input type="text" class="form-control" ng-style="choiceStyle[$index]" ng-model="choice.text" placeholder="Enter a choice">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
        <!--/Input area-->

        <!--Form options-->
        <span style="float:left">
        <button class="btn btn-default" ng-disabled="quizStarted" ng-click="addNewChoice()" tooltip-class="btn" tooltip-placement="bottom" uib-tooltip="Add choice">
            <span class="glyphicon glyphicon-plus"/>
        </button>
        <button class="btn btn-default" ng-disabled="quizStarted" ng-click="removeLastChoice()" tooltip-class="btn" tooltip-placement="bottom" uib-tooltip="Remove choice">
            <span class="glyphicon glyphicon-minus"/>
        </button>
        </span>
        <span style="float:right">
            <button class="btn btn-default" ng-disabled="quizStarted" ng-click="clearForms()" tooltip-class="btn" tooltip-placement="bottom" uib-tooltip="Clear forms">
                <span class="glyphicon glyphicon-trash"/>
            </button>
        </span>
   </div>

   <div style="float:right; width: 40%">
       <!-- Play/Stop buttons -->
       <p>
        <button class="btn btn-default" ng-disabled="!quizReady" ng-click="startQuiz()" tooltip-class="btn" tooltip-placement="top" uib-tooltip="Start the Quiz!">
            <span class="glyphicon glyphicon-play"/>
        </button>
        <button class="btn btn-default" ng-disabled="!quizStarted" ng-click="stopQuiz()" tooltip-class="btn" tooltip-placement="top" uib-tooltip="Stop the Quiz!">
            <span class="glyphicon glyphicon-stop"/>
        </button>

        <!-- Save button -->
        <span style="float:right">
            <font ng-show="savePopupVisible" color="green" style="padding-right:5em">Save successful</font>
            <button class="btn btn-default" style="float:right" ng-disabled="!quizStale" ng-click="saveQuiz()" tooltip-class="btn" tooltip-placement="top" uib-tooltip="Save this question">
                <span class="glyphicon glyphicon-floppy-disk"/>
            </button>
        </span>
        </p>

       <!-- Preview box -->
        <div class="panel panel-default">
            <div class="panel-body">
                <p><label>Preview</label></p>
                <p><span ng-bind-html="preview()"></span></p>
            </div>
        </div>
        <!-- Status -->
        <div ng-show="quizStarted">
            <font color="green" style="padding-right:5em">Quiz In Progress</font>
            Elapsed Time \{{ counter }} seconds
        </div>

   </div>
</div>
<div style="clear:both"></div>

</div>
