
<script type="text/javascript">
    questionPool = {{{ questionPool }}};        
</script>    

<div ng-controller="instructorClickCtrl">    
    
    <p><label for="question">Select an existing question</label></p>
	<p>
        <select class="btn btn-default" ng-model="selectedQuestion" ng-change="updateQuestion()" ng-disabled="quizInProgress">
            <option class="btn btn-default" ng-repeat='option in {{{ questionPool }}}' value="\{{ option }}">\{{ option.description.substring(0,40) }} ...</option>                
        </select>
    </p>
    
	<p><label for="question">Post a Question</label></p>
	<p><textarea class="form-control" ng-model="textarea" ng-disabled="quizInProgress" btf-markdown rows="3"></textarea></p>
    
    <!-- Single button -->    
	<div class="form-group" data-ng-repeat="choice in choices">
		<form class="form-horizontal" >
			<div class="form-group">
				<label for="choice" class="col-xs-1 control-label">\{{choice.index}}</label>
			    <div class="col-xs-11">
					<input type="text" 
                           class="form-control" 
                           ng-disabled="quizInProgress" 
                           ng-model="choice.text" 
                           name="" 
                           placeholder="Enter choice">                           
			    </div>
			</div>	
		</form>
	</div>			
	<button class="btn" ng-disabled="quizInProgress" ng-click="addNewChoice()">
		<span class="glyphicon glyphicon-plus"/>
	</button>
	<button class="btn" ng-disabled="quizInProgress" ng-click="removeLastChoice()">
		<span class="glyphicon glyphicon-minus"/>	
	</button>
	
		
	<hr>
	<p><label>Preview</label></p>
	<p ng-bind-html="preview()"></p>
	<hr>
	<button class="btn btn-success" ng-disabled="quizInProgress" ng-click="startQuiz()">
		<span class="glyphicon glyphicon-play"/>
	</button>
	<button class="btn btn-danger"  ng-click="stopQuiz()">
		<span class="glyphicon glyphicon-stop"/>
	</button>
	
    <span style="float:right">
        <font ng-hide="!quizInProgress" color="green" style="padding-right:5em">Quiz In Progress</font> 
        Elapsed Time \{{ counter }} seconds
    </span>	
</div>
