
<div ng-controller="quizCtrl" data-ng-init="instructorInit()">
    <!-- Play/Stop buttons -->
    <div class="row">
        
        <div class="col-md-10">
                    
            <!-- Preview box -->
            <div class="panel panel-default">
                <div class="panel-body" > {{{quizRender}}} </div>
            </div>                       
            
        </div>
                
        <div class="col-md-2">            
            <div class="row">            
                <button class="btn btn-block  classWithPad" ng-disabled="quizStarted" ng-click="startQuiz()" >
                    <span class="glyphicon glyphicon-play"/>
                </button>                
            </div>
            <div class="row">            
                <button class="btn btn-block  classWithPad" ng-disabled="!quizStarted" ng-click="stopQuiz()">
                    <span class="glyphicon glyphicon-stop"/>
                </button>                
            </div>            
            <div class="row">            
                <!--<button type="button" class="btn btn-default">Show correct answer</button>-->
                <button type="button" class="btn btn-block classWithPad">View responses</button>                
            </div>            
            
            <div class="row">
               <button class="btn btn-block  btn-danger classWithPad" ng-click="deleteQuiz()">
                    <span class="glyphicon glyphicon-trash"/>
                </button>                
            </div>   

        </div>  
        
    </div>
    <!-- Status -->
    <div>
        <table class="table table-nonfluid table-bordered" ng-show="true" ng-cloak>
            <caption>Quiz In Progress</caption>
            <tr><td>Elapsed Time    </td><td>\{{counterString}}               </td></tr>
            <tr><td>Participants    </td><td>\{{totalStudentsInRoom}}         </td></tr>
            <tr><td>Answers received</td><td>\{{studentsAnsweredCount}}       </td></tr>
            <tr><td>Correct answers </td><td>\{{studentsAnsweredCorrectCount}}</td></tr>
            <tr><td>Wrong answers   </td><td>\{{studentsAnsweredWrongCount}}  </td></tr>
        </table>
    </div>

</div>

