

<div ng-controller="quizCtrl" data-ng-init="instructorInit()">
        
    <!-- Play/Stop buttons -->
        
        <button class="btn btn-default" ng-disabled="!quizReady" ng-click="startQuiz()" tooltip-class="btn" tooltip-placement="top" uib-tooltip="Start the Quiz!">
            <span class="glyphicon glyphicon-play"/>
        </button>
        <button class="btn btn-default" ng-disabled="!quizStarted" ng-click="stopQuiz()" tooltip-class="btn" tooltip-placement="top" uib-tooltip="Stop the Quiz!">
            <span class="glyphicon glyphicon-stop"/>
        </button>
        <!-- Show correct answer button -->
        <span style="float:right">        
        <button type="button" class="btn btn-default" ng-model="showCorrectAnswer" ng-disabled="!quizReady" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
            Show correct answer
        </button>
        <button type="button" class="btn btn-default" ng-model="showResponses" ng-disabled="!quizReady" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
            View responses
        </button>    
        </span>
    </p>
    
    <!-- Preview box -->
    <div class="panel panel-default">
        <div class="panel-body" > {{{quizRender}}} </div>
    </div>
    <!-- Status -->
    <div>    
        <table class="table table-nonfluid table-bordered" ng-show="quizStarted" ng-cloak>
            <caption>Quiz In Progress</caption>
            <tr>
                <td>Elapsed Time</td>
                <td> \{{ counterString }} </td>
            </tr>
            <tr>
                <td>Participants</td>
                <td>\{{ totalStudentsInRoom }} </td>
            </tr>
            <tr>
                <td>Answers received</td>
                <td>\{{ studentsAnsweredCount }} </td>
            </tr>
            <tr>
                <td>Correct answers</td>
                <td>\{{ studentsAnsweredCorrectCount }}</td>            
            </tr>
            <tr>
                <td>Wrong answers</td>
                <td>\{{ studentsAnsweredWrongCount }}</td>            
            </tr>                   
        </table>
    </div>
    
</div>

